.PlayerCard{
    padding: 20px;
}

.playerCard{
    /*position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
*/
    position: relative;
    margin: 20px;
    width: 364px;
    height: 300px;
    background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);

    display: inline-block;
}
.playerCardPhoto{
    /*width:274px;
    height:207px;
    top: 73px;
    left:45px;

    background-size: 207px 274px;*/
    background-repeat: no-repeat;
    position: absolute;
    left: 12.36%;
    right: 12.36%;
    top: 19.21%;
    bottom: 26.32%;
    background-size: 54.47% 75,28%;
}
.playerCardLogo{
    position: absolute;
    left: 12.36%;
    right: 12.36%;
    top: 19.21%;
    bottom: 26.32%;
}

.playerCardFooter{
   /* width: 364px;
    height: 100px;
    top: 280px;*/
    position: absolute;
    left: 0%;
    right: 0%;
    top: 73.68%;
    bottom: 0%;
    background: #303030;
    border-radius: 0px 0px 4px 4px;    
    color: fff;
    
}
.playerCardName{
    color: #FFFFFF;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}
.playerCardNumber{
    color: firebrick;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}