.header{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* UI / White */

    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(209, 209, 209, 0.5);
}

.logoContainer{
    padding:  51px 16px 0 16px;
}

.logoContainer img{
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* UI / Blue */

    background: #344472;
    /* UI / Yellow */

    border: 3px solid #D9AD3A;
    border-radius: 10px;
}