.container{
    width: 1140px;
}
.containerHeader{
    background: #FFFFFF;
    height: 69px;
    border: 0.5px solid #9C9C9C;
    border-radius: 10px 10px 0px 0px;
}
.headerText{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    /* UI / Red */
    color: #E4163A;
}
.headerbuttons{
    float: right;
}
.mainContainer{
    background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%);
    border-radius: 10px 10px 0px 0px;
    transform: rotate(-180deg);
}
.logoContainer{
    width: 502px;
}
.noteam{
    background-image: url('asserts/images/noTeam.png');
    background-repeat: no-repeat;
   width: 50%;
   margin: auto;
}